.sideland_tables {
    margin-top: 20px;
    /* overflow-y: scroll; */
    color: #6a5d5d;
    background-color: white;
    min-height: 250px;
  }
  
  .sideland_tables .tr {
    display: flex;
    justify-content: space-between;
  }
  
  .sideland_tables .td {
    padding: 0.5rem;
    border: none;
  }
  
  .sideland_tables tr:nth-of-type(odd) {
    background-color: #fff;
    color: #000;
  }
  .sideland_tables tr:nth-of-type(even) {
    background-color: #f1f6fa;
    color: #000;
  }

  .sideland_tables .tr:hover {
    background-color: #c8ffed;
  }
  